li > a {
  color: #000;
  font-family: Trebuchet MS;
  float: left;
}
#logo_image {
  width: 70px;
  height: 50px;
}

#searchBox {
  border-radius: 30px;
}

.nav > .navbar-brand {
  font-family: Harrington;
  color: #000;
  font-weight: bold;
  pointer-events: none;
}

#seachButton {
  border-radius: 30px;
  margin-left: 10px;
}

#topContainer {
  background-color: transparent;
}

#div__spacer {
  -webkit-box-flex: 1;
  flex: 1;
}

.navbar__link-separator {
  border-right: 1px solid hsla(0, 0%, 81%, 0.5);
  height: 0.8125rem;
  margin-top: 14px;
}

#brandLogo {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: unset;
  align-self: center;
}

#Logo {
  margin-top: -5px;
}

.form-inline {
  flex: 1;
  width: 100%;
}

.navbar-brand {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
}

.notification {
  position: relative;
  top: -10px;
  right: 0;
  font-size: 12px;
  color: #fa6400;
}

.navbar {
  background-color: #fff;
}

#navItem {
  display: flex;
  align-items: center;
  clear: right;
}

.navbar-link {
  margin-left: 20px;
}

.slider-container {
  align-content: center;
  max-width: 1224px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  margin: 0 auto;
}

.slider-container > .card {
  margin-top: 50px;
  display: inline-block;
}

footer {
  margin-top: 10px;
  background-color: #f8f9fa;
}

footer > .footer-container {
  padding: 20px 50px;
}

.first-element {
}

h5 > a {
  color: #000;
}

.imgbox-partner {
  padding: 0px 20px;
}
